* {
    box-sizing: border-box;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    background: #2577a2;
    color: color-mix(in hsl shorter hue, color percentage, color percentage);
}
header {
    background: linear-gradient(100deg, #947994, #7499);
    color: #713007;
    padding: 60px 20px;
    text-align: center;
}
main{
    max-width: 568px;
    margin: 0, auto;
    padding: 35px 20px;
}
section{
    background: #ff13;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 21px;
    box-shadow: 10px, 0, 25px  beige;
}
footer{
    padding: 24px;
    text-align: center;
    background: #465746;
    font-size: 0.8rem;
}